In [1]:
import tweepy as tw
import pandas as pd

In [2]:
tw.__version__

'3.10.0'

In [85]:
# Twitter API key and API secret
my_api_key = 'SZJBzee4IenfMXpsxxLqFky5j'
my_api_secret = 'NRYpFS9l63sssHrDrc39ki3hJNqKzyxgdKHu15LN3gVqLoegX3'
my_access_token = '90122342-FriiZzekFLveQ4WObHRSaWrYotHIbQ5m9JWtrxFQo'
my_access_token_secret = 'PRf8Ik19awYLzdvff6Oh55eBJC61qMbRSnHoskeoMrjn3'
my_bearer_token = 'AAAAAAAAAAAAAAAAAAAAABT7SAEAAAAAJRR%2BykHV2tpYVjJJn8LrZENsERQ%3D51pVGewsSGiSg86WrR0885KnypUezaJ0WQ9n9f2X5uWGIESUte'
alpha_apikey = ''

# Authenticate
auth = tw.OAuthHandler(my_api_key, my_api_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [4]:
def get_df():
    return pd.DataFrame(
        columns=[
            "tweet_id",
            "name",
            "screen_name",
            "retweet_count",
            "text",
            "mined_at",
            "created_at",
            "favourite_count",
            "hashtags",
            "status_count",
            "followers_count",
            "location",
            "source_device",
        ]
    )

### Scraping Bitcoin Tweets

In [68]:
# Search Query (filter out the retweets)
search_query = "#btc -filter:retweets"

# Get tweets from the API
tweets = tw.Cursor(api.search,
              q=search_query,
              lang="en",
              since="2020-09-16").items(500)

# store the API responses in a list
tweets_copy = []
for tweet in tweets:
    tweets_copy.append(tweet)
    
print("Total Tweets fetched:", len(tweets_copy))

Total Tweets fetched: 500

In [69]:
# intialize the dataframe
tweets_btc = pd.DataFrame()

# populate the dataframe
for tweet in tweets_copy:
    hashtags = []
    try:
        for hashtag in tweet.entities["hashtags"]:
            hashtags.append(hashtag["text"])
        text = api.get_status(id=tweet.id, tweet_mode='extended').full_text
    except:
        pass
    tweets_btc = tweets_btc.append(pd.DataFrame({"tweet_id": tweet.id,
                                               "name": tweet.user.name,
                                               "screen_name": tweet.user.screen_name,
                                               "retweet_count": tweet.retweet_count,
                                               "text": text,
                                                 "date": tweet.created_at,
                                               "created_at": tweet.created_at,
                                               "favourite_count": tweet.favorite_count,
                                                 "hashtags": tweet.entities["hashtags"],
                                                 "status_count": tweet.user.statuses_count,
                                                 "followers_count": tweet.user.followers_count,
                                                 "location": tweet.place,
                                                 "source_device": tweet.source,}))
    tweets_btc = tweets_btc.reset_index(drop=True)


# show the dataframe
tweets_btc.head()

,tweet_id,name,screen_name,retweet_count,text,date,created_at,favourite_count,hashtags,status_count,followers_count,location,source_device
0,1428730216432680962,TheTruffleWax,TruffleWax,0,Oh my lord BTC &gt; 48k\n\nIll see +50k this w...,2021-08-20 14:46:42,2021-08-20 14:46:42,0,"{'text': 'btc', 'indices': [69, 73]}",333,123,Place(_api=<tweepy.api.API object at 0x7fe1352...,Twitter for iPhone
1,1428730216432680962,TheTruffleWax,TruffleWax,0,Oh my lord BTC &gt; 48k\n\nIll see +50k this w...,2021-08-20 14:46:42,2021-08-20 14:46:42,0,"{'text': 'xrp', 'indices': [74, 78]}",333,123,Place(_api=<tweepy.api.API object at 0x7fe1352...,Twitter for iPhone
2,1428730213022670849,Mohamad Esa,hallo_esa,0,@GreenShibaCoin Amazing project! Let's join no...,2021-08-20 14:46:41,2021-08-20 14:46:41,0,"{'text': 'BSC', 'indices': [95, 99]}",8599,346,None,Twitter Web App
3,1428730213022670849,Mohamad Esa,hallo_esa,0,@GreenShibaCoin Amazing project! Let's join no...,2021-08-20 14:46:41,2021-08-20 14:46:41,0,"{'text': 'BTC', 'indices': [100, 104]}",8599,346,None,Twitter Web App
4,1428730213022670849,Mohamad Esa,hallo_esa,0,@GreenShibaCoin Amazing project! Let's join no...,2021-08-20 14:46:41,2021-08-20 14:46:41,0,"{'text': 'BNB', 'indices': [105, 109]}",8599,346,None,Twitter Web App

In [70]:
# clean up tweets - keep text, retweet_count, favourite_count, and followers_count
tweets_btc = tweets_btc[['tweet_id', 'date', 'text', 'retweet_count', 'favourite_count', 'followers_count']]
tweets_btc['crypto_name'] = 'BTC'
tweets_btc.head()

,tweet_id,date,text,retweet_count,favourite_count,followers_count,crypto_name
0,1428730216432680962,2021-08-20 14:46:42,Oh my lord BTC &gt; 48k\n\nIll see +50k this w...,0,0,123,BTC
1,1428730216432680962,2021-08-20 14:46:42,Oh my lord BTC &gt; 48k\n\nIll see +50k this w...,0,0,123,BTC
2,1428730213022670849,2021-08-20 14:46:41,@GreenShibaCoin Amazing project! Let's join no...,0,0,346,BTC
3,1428730213022670849,2021-08-20 14:46:41,@GreenShibaCoin Amazing project! Let's join no...,0,0,346,BTC
4,1428730213022670849,2021-08-20 14:46:41,@GreenShibaCoin Amazing project! Let's join no...,0,0,346,BTC

In [71]:
tweets_btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 826 entries, 0 to 825
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         826 non-null    int64
 1   date             826 non-null    datetime64[ns]
 2   text             826 non-null    object
 3   retweet_count    826 non-null    int64
 4   favourite_count  826 non-null    int64
 5   followers_count  826 non-null    int64
 6   crypto_name      826 non-null    object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 45.3+ KB

In [72]:
## Export BTC tweets
tweets_btc.to_csv('data/tweets_btc_5.csv')

### Scraping Etherum Tweets

In [73]:
# Search Query (filter out the retweets)
search_query = "#eth -filter:retweets"

# Get tweets from the API
tweets = tw.Cursor(api.search,
              q=search_query,
              lang="en",
              since="2020-09-16").items(500)

# store the API responses in a list
tweets_copy = []
for tweet in tweets:
    tweets_copy.append(tweet)
    
print("Total Tweets fetched:", len(tweets_copy))

Total Tweets fetched: 500

In [74]:
# intialize the dataframe
tweets_eth = pd.DataFrame()

# populate the dataframe
for tweet in tweets_copy:
    hashtags = []
    try:
        for hashtag in tweet.entities["hashtags"]:
            hashtags.append(hashtag["text"])
        text = api.get_status(id=tweet.id, tweet_mode='extended').full_text
    except:
        pass
    tweets_eth = tweets_eth.append(pd.DataFrame({"tweet_id": tweet.id,
                                               "name": tweet.user.name,
                                               "screen_name": tweet.user.screen_name,
                                               "retweet_count": tweet.retweet_count,
                                               "text": text,
                                                 "date": tweet.created_at,
                                               "created_at": tweet.created_at,
                                               "favourite_count": tweet.favorite_count,
                                                 "hashtags": tweet.entities["hashtags"],
                                                 "status_count": tweet.user.statuses_count,
                                                 "followers_count": tweet.user.followers_count,
                                                 "location": tweet.place,
                                                 "source_device": tweet.source,}))
    tweets_eth = tweets_eth.reset_index(drop=True)


# clean up tweets - keep text, retweet_count, favourite_count, and followers_count
tweets_eth = tweets_eth[['tweet_id', 'date', 'text', 'retweet_count', 'favourite_count', 'followers_count']]
tweets_eth['crypto_name'] = 'ETH'
tweets_eth.head()
    
    
# show the dataframe
tweets_eth.head()

,tweet_id,date,text,retweet_count,favourite_count,followers_count,crypto_name
0,1428731066886524931,2021-08-20 14:50:05,Let’s keep on climbing!!! @bitgetglobal #bette...,0,0,122,ETH
1,1428731066886524931,2021-08-20 14:50:05,Let’s keep on climbing!!! @bitgetglobal #bette...,0,0,122,ETH
2,1428731066886524931,2021-08-20 14:50:05,Let’s keep on climbing!!! @bitgetglobal #bette...,0,0,122,ETH
3,1428731066886524931,2021-08-20 14:50:05,Let’s keep on climbing!!! @bitgetglobal #bette...,0,0,122,ETH
4,1428731066886524931,2021-08-20 14:50:05,Let’s keep on climbing!!! @bitgetglobal #bette...,0,0,122,ETH

In [75]:
tweets_eth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         1010 non-null   int64
 1   date             1010 non-null   datetime64[ns]
 2   text             1010 non-null   object
 3   retweet_count    1010 non-null   int64
 4   favourite_count  1010 non-null   int64
 5   followers_count  1010 non-null   int64
 6   crypto_name      1010 non-null   object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 55.4+ KB

In [76]:
## Export ETH tweets
tweets_eth.to_csv('data/tweets_eth_5.csv')

### Scraping Cardano Tweets

In [77]:
# Search Query (filter out the retweets)
search_query = "#ada -filter:retweets"

# Get tweets from the API
tweets = tw.Cursor(api.search,
              q=search_query,
              lang="en",
              since="2020-09-16").items(500)

# store the API responses in a list
tweets_copy = []
for tweet in tweets:
    tweets_copy.append(tweet)
    
print("Total Tweets fetched:", len(tweets_copy))

Total Tweets fetched: 500

In [78]:
# intialize the dataframe
tweets_ada = pd.DataFrame()

# populate the dataframe
for tweet in tweets_copy:
    hashtags = []
    try:
        for hashtag in tweet.entities["hashtags"]:
            hashtags.append(hashtag["text"])
        text = api.get_status(id=tweet.id, tweet_mode='extended').full_text
    except:
        pass
    tweets_ada = tweets_ada.append(pd.DataFrame({"tweet_id": tweet.id,
                                               "name": tweet.user.name,
                                               "screen_name": tweet.user.screen_name,
                                               "retweet_count": tweet.retweet_count,
                                               "text": text,
                                                 "date": tweet.created_at,
                                               "created_at": tweet.created_at,
                                               "favourite_count": tweet.favorite_count,
                                                 "hashtags": tweet.entities["hashtags"],
                                                 "status_count": tweet.user.statuses_count,
                                                 "followers_count": tweet.user.followers_count,
                                                 "location": tweet.place,
                                                 "source_device": tweet.source,}))
    tweets_ada = tweets_ada.reset_index(drop=True)


# clean up tweets - keep text, retweet_count, favourite_count, and followers_count
tweets_ada = tweets_ada[['tweet_id', 'date', 'text', 'retweet_count', 'favourite_count', 'followers_count']]
tweets_ada['crypto_name'] = 'ADA'
tweets_ada.head()
    
    
# show the dataframe
tweets_ada.head()

,tweet_id,date,text,retweet_count,favourite_count,followers_count,crypto_name
0,1428734222798368768,2021-08-20 15:02:37,"Cardano (ADA), Avalanche (AVAX) Prices Rise as...",0,0,6638,ADA
1,1428734222798368768,2021-08-20 15:02:37,"Cardano (ADA), Avalanche (AVAX) Prices Rise as...",0,0,6638,ADA
2,1428734222798368768,2021-08-20 15:02:37,"Cardano (ADA), Avalanche (AVAX) Prices Rise as...",0,0,6638,ADA
3,1428734222798368768,2021-08-20 15:02:37,"Cardano (ADA), Avalanche (AVAX) Prices Rise as...",0,0,6638,ADA
4,1428734072201875464,2021-08-20 15:02:02,New Stake Pool Delegate! stake1uxn...uch85gp7 ...,0,0,3709,ADA

In [79]:
tweets_ada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1126 entries, 0 to 1125
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         1126 non-null   int64
 1   date             1126 non-null   datetime64[ns]
 2   text             1126 non-null   object
 3   retweet_count    1126 non-null   int64
 4   favourite_count  1126 non-null   int64
 5   followers_count  1126 non-null   int64
 6   crypto_name      1126 non-null   object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 61.7+ KB

In [80]:
## Export ADA tweets
tweets_ada.to_csv('data/tweets_ada_5.csv')

### Scraping Dogecoin Tweets

In [81]:
# Search Query (filter out the retweets)
search_query = "#ada -filter:retweets"

# Get tweets from the API
tweets = tw.Cursor(api.search,
              q=search_query,
              lang="en",
              since="2020-09-16").items(500)

# store the API responses in a list
tweets_copy = []
for tweet in tweets:
    tweets_copy.append(tweet)
    
print("Total Tweets fetched:", len(tweets_copy))

Total Tweets fetched: 500

In [82]:
# intialize the dataframe
tweets_dog = pd.DataFrame()

# populate the dataframe
for tweet in tweets_copy:
    hashtags = []
    try:
        for hashtag in tweet.entities["hashtags"]:
            hashtags.append(hashtag["text"])
        text = api.get_status(id=tweet.id, tweet_mode='extended').full_text
    except:
        pass
    tweets_dog = tweets_dog.append(pd.DataFrame({"tweet_id": tweet.id,
                                               "name": tweet.user.name,
                                               "screen_name": tweet.user.screen_name,
                                               "retweet_count": tweet.retweet_count,
                                               "text": text,
                                                 "date": tweet.created_at,
                                               "created_at": tweet.created_at,
                                               "favourite_count": tweet.favorite_count,
                                                 "hashtags": tweet.entities["hashtags"],
                                                 "status_count": tweet.user.statuses_count,
                                                 "followers_count": tweet.user.followers_count,
                                                 "location": tweet.place,
                                                 "source_device": tweet.source,}))
    tweets_dog = tweets_dog.reset_index(drop=True)


# clean up tweets - keep text, retweet_count, favourite_count, and followers_count
tweets_dog = tweets_dog[['tweet_id', 'date', 'text', 'retweet_count', 'favourite_count', 'followers_count']]
tweets_dog['crypto_name'] = 'DOG'
tweets_dog.head()
    
    
# show the dataframe
tweets_dog.head()

,tweet_id,date,text,retweet_count,favourite_count,followers_count,crypto_name
0,1428735104768151555,2021-08-20 15:06:08,@JavonSwint @cryptorecruitr No I think he give...,0,0,318,DOG
1,1428735104768151555,2021-08-20 15:06:08,@JavonSwint @cryptorecruitr No I think he give...,0,0,318,DOG
2,1428735104768151555,2021-08-20 15:06:08,@JavonSwint @cryptorecruitr No I think he give...,0,0,318,DOG
3,1428735071251439617,2021-08-20 15:06:00,🔴Welcome to our new delegator!!\n\nWe are grow...,0,0,536,DOG
4,1428734930842832899,2021-08-20 15:05:26,#Altseason started 2021\n\n#BTC to $85k\n\n#E...,0,0,82,DOG

In [83]:
tweets_dog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1135 entries, 0 to 1134
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         1135 non-null   int64
 1   date             1135 non-null   datetime64[ns]
 2   text             1135 non-null   object
 3   retweet_count    1135 non-null   int64
 4   favourite_count  1135 non-null   int64
 5   followers_count  1135 non-null   int64
 6   crypto_name      1135 non-null   object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 62.2+ KB

In [84]:
## Export DOG tweets
tweets_dog.to_csv('data/tweets_dog_5.csv')

### Load all the crypto tweets and combine them

In [98]:
btc_1 = pd.read_csv('data/tweets_btc_1.csv')
btc_2 = pd.read_csv('data/tweets_btc_1.csv')
btc_3 = pd.read_csv('data/tweets_btc_1.csv')
btc_4 = pd.read_csv('data/tweets_btc_1.csv')
btc_5 = pd.read_csv('data/tweets_btc_1.csv')

In [99]:
eth_1 = pd.read_csv('data/tweets_eth_1.csv')
eth_2 = pd.read_csv('data/tweets_eth_1.csv')
eth_3 = pd.read_csv('data/tweets_eth_1.csv')
eth_4 = pd.read_csv('data/tweets_eth_1.csv')
eth_5 = pd.read_csv('data/tweets_eth_1.csv')

In [100]:
ada_1 = pd.read_csv('data/tweets_ada_1.csv')
ada_2 = pd.read_csv('data/tweets_ada_1.csv')
ada_3 = pd.read_csv('data/tweets_ada_1.csv')
ada_4 = pd.read_csv('data/tweets_ada_1.csv')
ada_5 = pd.read_csv('data/tweets_ada_1.csv')

In [101]:
dog_1 = pd.read_csv('data/tweets_dog_1.csv')
dog_2 = pd.read_csv('data/tweets_dog_1.csv')
dog_3 = pd.read_csv('data/tweets_dog_1.csv')
dog_4 = pd.read_csv('data/tweets_dog_1.csv')
dog_5 = pd.read_csv('data/tweets_dog_1.csv')

### Combines all the tweets and drop duplicates

In [121]:
# combined all BTC
btc_df = pd.concat([btc_1, btc_2, btc_3, btc_4, btc_5], ignore_index=True)

# drop dubplicates
btc_df.drop_duplicates(subset=['tweet_id'], inplace=True, keep='last', ignore_index=True)

# covert date column to datetime
btc_df['date'] = pd.to_datetime(btc_df['date'])

# drop Unnamed: 0 column
btc_df.drop(columns='Unnamed: 0', inplace=True)

# add an empty column called 'manual_sentiment'
#combined_df['manual_sentiment'] = ''

# export btc_df
btc_df.to_csv('data/btc_df_complete.csv')

btc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         300 non-null    int64
 1   date             300 non-null    datetime64[ns]
 2   text             300 non-null    object
 3   retweet_count    300 non-null    int64
 4   favourite_count  300 non-null    int64
 5   followers_count  300 non-null    int64
 6   crypto_name      300 non-null    object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 16.5+ KB

In [122]:
# combined all ETH
eth_df = pd.concat([eth_1, eth_2, eth_3, eth_4, eth_5], ignore_index=True)

# drop dubplicates
eth_df.drop_duplicates(subset=['tweet_id'], inplace=True, keep='last', ignore_index=True)

# covert date column to datetime
eth_df['date'] = pd.to_datetime(eth_df['date'])

# drop Unnamed: 0 column
eth_df.drop(columns='Unnamed: 0', inplace=True)

# export btc_df
eth_df.to_csv('data/eth_df_complete.csv')

eth_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         289 non-null    int64
 1   date             289 non-null    datetime64[ns]
 2   text             289 non-null    object
 3   retweet_count    289 non-null    int64
 4   favourite_count  289 non-null    int64
 5   followers_count  289 non-null    int64
 6   crypto_name      289 non-null    object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 15.9+ KB

In [143]:
# combined all ADA
ada_df = pd.concat([ada_1, ada_2, ada_3, ada_4, ada_5], ignore_index=True)

# drop dubplicates
ada_df.drop_duplicates(subset=['tweet_id'], inplace=True, keep='last', ignore_index=True)

# drop nulls
ada_df.dropna(axis = 0, how ='any', inplace=True)

# covert date column to datetime
ada_df['date'] = pd.to_datetime(ada_df['date'])

# convert retweet_count to float64
ada_df['retweet_count'] = pd.to_numeric(ada_df['retweet_count'])

# drop Unnamed: 0 column
ada_df.drop(columns='Unnamed: 0', inplace=True)

# export btc_df
ada_df.to_csv('data/ada_df_complete.csv')

ada_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 429 entries, 0 to 432
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         429 non-null    float64
 1   date             429 non-null    datetime64[ns]
 2   text             429 non-null    object
 3   retweet_count    429 non-null    int64
 4   favourite_count  429 non-null    float64
 5   followers_count  429 non-null    float64
 6   crypto_name      429 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 26.8+ KB

In [146]:
# combined all DOG
dog_df = pd.concat([dog_1, dog_2, dog_3, dog_4, dog_5], ignore_index=True)

# drop dubplicates
dog_df.drop_duplicates(subset=['tweet_id'], inplace=True, keep='last', ignore_index=True)

# drop nulls
dog_df.dropna(axis = 0, how ='any', inplace=True)

# covert date column to datetime
dog_df['date'] = pd.to_datetime(dog_df['date'])

# convert retweet_count to float64
dog_df['retweet_count'] = pd.to_numeric(dog_df['retweet_count'])

# drop Unnamed: 0 column
dog_df.drop(columns='Unnamed: 0', inplace=True)

# export btc_df
dog_df.to_csv('data/dog_df_complete.csv')

dog_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 437 entries, 0 to 439
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         437 non-null    float64
 1   date             437 non-null    datetime64[ns]
 2   text             437 non-null    object
 3   retweet_count    437 non-null    int64
 4   favourite_count  437 non-null    float64
 5   followers_count  437 non-null    float64
 6   crypto_name      437 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 27.3+ KB

In [150]:
# combined all BTC + ETH + ADA + DOG
combined_all_df = pd.concat([btc_df, eth_df, ada_df, dog_df], ignore_index=True)

# export to csv
combined_all_df.to_csv('data/all_crypto_tweets.csv', index=False)

combined_all_df.head()
combined_all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455 entries, 0 to 1454
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         1455 non-null   float64
 1   date             1455 non-null   datetime64[ns]
 2   text             1455 non-null   object
 3   retweet_count    1455 non-null   int64
 4   favourite_count  1455 non-null   float64
 5   followers_count  1455 non-null   float64
 6   crypto_name      1455 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 79.7+ KB

In [148]:
combined_all_df.head()

,tweet_id,date,text,retweet_count,favourite_count,followers_count,crypto_name
0,1.428577e+18,2021-08-20 04:39:25,The second #COVID19 lockdown is how #BTC gets...,1,0.0,155.0,BTC
1,1.428577e+18,2021-08-20 04:38:57,this is a really weird “dead cat bounce” #BTC ...,0,0.0,232.0,BTC
2,1.428577e+18,2021-08-20 04:38:51,@Crypto_Avenger1 @BrianSumner1987 @NanoDogeCoi...,0,0.0,9.0,BTC
3,1.428577e+18,2021-08-20 04:38:46,Goodnight everyone! Happy to see the #Crypto m...,0,0.0,125.0,BTC
4,1.428577e+18,2021-08-20 04:38:40,@Lonely_Boyyy22 @vancattoken Always buy the di...,0,1.0,27.0,BTC